html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

header {
	background-color: rgba(0, 0, 0, 0.9);
	height: 36px;
	color: #fff;
}

header .menu {
	padding: 10px 15px;
	cursor: pointer;
}

header .error {
	margin-left: 36px;
}

.map {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	height: auto;
	position: absolute;
	top: 36px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.marker-list {
	display:none;
	position: absolute;
	height: 100%;
	width: 50%;
	max-width: 300px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
}

.marker-list ul {
	list-style: none;
}
