html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: rgba(0, 0, 0, 0.9);
	height: 36px;
	color: #fff;
}

header .menu {
	padding: 10px 15px;
	cursor: pointer;
}

header .error {
	margin-left: 36px;
}

.map {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	height: auto;
	position: absolute;
	top: 36px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.marker-list {
	display:none;
	position: absolute;
	height: 100%;
	width: 50%;
	min-width: 100px;
	max-width: 300px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
}

.marker-list input {
	width: 80%;
	margin-left: 5%;
	padding-left: 5%;
	height: 24px;
}

.marker-list table {
	width: 100%;
	margin-top: 10px;
}

.marker-list td {
	padding: 10px;
	cursor: pointer;
}

.marker-list td:hover {
	background-color: #333;
}

.selected {
	background-color: #333;
}

.address {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.details {
	font-size: 14px;
	font-weight: normal;
}